.App {
  text-align: center;
}

.hardware-list{
    list-style: none;
    width: 50%;
    margin-left: 25%;
}

.list-item {
    background-color: white;  
}

.list-item:nth-child(odd) {
    background-color: lightgray;
}

.quantity-request{
    width: 25%;
}